<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Save produit</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="Container">
        <h2>Formulaire de mise a jour de produit</h2>
        <form th:action="@{/Produits/save" th:object="${unProduit}" method="post">
            <div class="mb-3">
                <input type="hidden" th:field="*{id}" class="form-control"  >
            </div>
            <div class="nb-3">
                <label class="form-label">Libelle produit</label>
                <input type="text" th:field="*{libelle}" class="form-control">
            </div>

            <div class="nb-3">
                <label class="form-label">Quantite seuil</label>
                <input type="number" th:field="*{qtSeuil}" class="form-control" min="1">
            </div>

            <div class="nb-3">
                <label class="form-label">Prix</label>
                <input type="number" th:fiel="*{prix}" class="form-control">
            </div>

            <div class="mb-3">
                <button type="submit"  value="Enregistre" class="btn-primary"/>
            </div>
        </form>
    </div>
    <script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>