<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Save produit</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Formulaire de saisie de produit </h2>
    <form th:action="@{/Produits/save" method="post">

        <div class="nb-3">
            <label class="form-label">Libelle produit</label>
            <input type="text" name="libelle" class="form-control">
        </div>

        <div class="nb-3">
            <label class="form-label">Quantite seuil</label>
            <input type="number" name="qtSeuil" class="form-control" min="1">
        </div>

        <div class="nb-3">
            <label class="form-label">Prix</label>
            <input type="number" name="prix" class="form-control">
        </div>

        <div class="mb-3">
            <input type="submit"  value="Enregistre" class="btn btn-primary">
        </div>
    </form>
</div>

    <script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>